# CONSTRUCCION DE CARTERA FINANCIERA

# Librer√≠as

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Lectura de Base de Datos

In [2]:
data_route = "../data/"

In [3]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [4]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [5]:
incomes

         DATE  AMOUNT  CATEGORY THERD-PARTY                    DESCRIPTION
0  20-09-2023     500  VARIABLE      merval  inscripcion a curso de Python

In [6]:
expenses.columns

Index(['DATE', 'AMOUNT', 'CATEGORY', 'THERD-PARTY', 'DESCRIPTION'], dtype='object')

In [7]:
incomes['AMOUNT']

0    500
Name: AMOUNT, dtype: int64

In [8]:
incomes['AMOUNT'].sum()

500

In [9]:
incomes.loc[0]['DESCRIPTION']

'inscripcion a curso de Python'

In [10]:
n = len(incomes)
print(n)

1

In [11]:
incomes.loc[n] = ['20-09-2023',300,'VARIABLE','merval','Curso intensivo Solidity']

In [12]:
incomes

         DATE  AMOUNT  CATEGORY THERD-PARTY                    DESCRIPTION
0  20-09-2023     500  VARIABLE      merval  inscripcion a curso de Python
1  20-09-2023     300  VARIABLE      merval       Curso intensivo Solidity

In [13]:
### Class Construction ###

In [14]:
class FinancialWallet:
    def __init__(self,inputs):
        self.inputs = inputs
        self.incomes = pd.read_csv(self.inputs['data_route'] + self.inputs['incomes_filename'])
        self.expenses = pd.read_csv(self.inputs['data_route'] + self.inputs['expenses_filename'])
        ## Actions to perform ##

    # Add income to database
    def add_income(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category:')
        third_party = input('third_party: ')
        description = input('description: ')

        new_income = [date,amount,category,therd_party,description]

        n = len(self.incomes)
        self.incomes.loc[n] = new_income

        self.incomes.to_csv(self.inputs['data_route']+self.inputs['incomes_filename'],index=False)


    ## Add expense to database
    def add_expense(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category:')
        third_party = input('third_party: ')
        description = input('description: ')

        new_expense = [date,amount,category,therd_party,description]

        n = len(self.expenses)
        self.expenses.loc[n] = new_expense

        self.expenses.to_csv(self.inputs['data_route']+self.inputs['expenses_filename'],index=False)


    # Calculate the total incomes
    def total_income(self):
        total = self.incomes['AMOUNT'].sum()
        return total

    # Calculate the total expenses
    def total_expense(self):
        total = self.expenses['AMOUNT'].sum()
        return total
        pass

    # Calculate the total balance income - expense
    def balance(self):
        balance = self.total_income() - self.total_expense()
        return balance

    # Create financial report using the functions above
    def financial_report(self):
        
        print('\n' + 'Financial Report' + '\n')
        print(f'Total Income: ${self.total_income()}')
        print(f'Total Expense: ${self.total_expense()}')
        print(f'Balance: ${self.balance()}')
        if self.balance() > 0:
            print('Dont forget to save some of your left-off money! great job!')
        else:
            print('The responsible with finance, and find a low rate loan!')

In [15]:
inputs = {
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv',
    'incomes_filename' : 'incomes.csv'
}

In [16]:
cartera = FinancialWallet(inputs)

In [17]:
cartera.financial_report()

Financial Report

Total Income: $500
Total Expense: $100
Balance: $400
Dont forget to save some of your left-off money! great job!

In [18]:
cartera.expenses

         DATE  AMOUNT  CATEGORY THERD-PARTY DESCRIPTION
0  21-09-2023     100  VARIABLE         ypf        cafe

In [19]:
cartera.incomes

         DATE  AMOUNT  CATEGORY THERD-PARTY                    DESCRIPTION
0  20-09-2023     500  VARIABLE      merval  inscripcion a curso de Python